{% extends "base.html" %}

{% block content %}
  <form>
    <!-- <table>
      {{ form }}
    </table> -->
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
  {% with data=request.GET %}
    {% if form.is_valid %}
      <h2>Привет, {{ request.GET.first_name }} {{ request.GET.last_name }}</h2>
      {% if birthday_countdown == 0 %}
      С днём рождения!
      {% else %}
      Осталось дней до дня рождения: {{ birthday_countdown }}!
      {% endif %}
    {% endif %}
  {% endwith %}
{% endblock %}